<section id="details">
  <!-- Page Content -->

  <div class="">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-4 text-center">
          <h3>The details</h3>
          <hr />
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 col-md-offset-2">
          <p>
            The club moved locations in 2022 and is now based on Killarney Road.
            We are now just outside Killorglin next to Top Oil O'Sullivans
            Service Station.
          </p>
          <p>
            Currently we cater for adult members (18+) and children
            (12+) of adult members.
          </p>
          <p>
            Before your first session it's best to get in touch with us. Contact
            via
            <a href="mailto:kerrycanoeclubkillorglin@gmail.com">email</a>
            or the club
            <a href="https://www.facebook.com/kerrycanoeclub/" target="_blank"
              >facebook page</a
            >.
          </p>
        </div>
        <div id="map-container" class="col-md-4 map"></div>
      </div>
    </div>
    <!-- /.container -->
  </div>
  <!-- /.content-section-a -->
</section>
