<section id="details">
<!-- Page Content -->

    <div class="details">

        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 text-center">
                    <h3>The details</h3>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 col-md-offset-2">
                    <p>The club is based in the old mill in the Bianconi car park, Killorglin.</p>
                    <p>At the moment we can cater for adult members only (18+) .</p>
                    <p>Before your first session it's best to get in touch with us.</p>
                    <p>We can be contacted on our <a href="https://www.facebook.com/groups/kerrycanoeclub/">Facebook Group</a> or <a href="mailto:kerrycanoeclub@gmail.com">email</a> us.</p>
                </div>
                <div id="map-container" class="col-md-4 map">

                </div>
            </div>
        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
</section>
