<section id="home">
<!-- Header -->
	<div class="intro-header">

		<div class="container">

			<div class="row">
				<div class="col-lg-12">
					<div class="intro-message">
						<h1>{{ page.title }}</h1>
						<h3>{{ page.subTitle }}</h3>
						<h5>Join our Facebook group to see our latest events.</h5>
						<hr class="intro-divider">
						<ul class="list-inline intro-social-buttons">
							<li>
								<a href="/covid19.html" class="btn btn-info btn-lg"><i class="fa fa-info-circle fa-fw"></i> <span class="network-name">COVID-19</span></a>
							</li>
							{% for social in site.social %}
							
							<li>
								<a href="{{ social.url }}" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-{{ social.icon }} fa-fw"></i> <span class="network-name">{{ social.title }}</span></a>
							</li>
							
							{% endfor %}
							<!-- removing google forms membership form for now
							<li>
								<a href="https://docs.google.com/forms/d/e/1FAIpQLSfgIUKYnQ3CIylQfuWEpMHtnm_PLZ6-U5-g0SEHOt5m-hSggQ/viewform?usp=sf_link" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-check-square-o fa-fw"></i> <span class="network-name">Membership Form</span></a>
							</li> 
							-->
							<li>
								<a href="assets/documents/Club_Equipment_Rules.pdf" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-file-pdf-o fa-fw"></i> <span class="network-name">Club Equipment</span></a>
							</li>
                            <li>
								<a href="/beginners_faq.html" class="btn btn-default btn-lg"><i class="fa fa-question fa-fw"></i> <span class="network-name">Questions</span></a>
							</li>
						</ul>
					</div>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
	<!-- /.intro-header -->
</section>
