<!-- jQuery Version 1.11.0 -->
<script src="js/jquery-1.11.0.js"></script>
<script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyA7KCLJm9Bn8VjkV64WxvZ0nO2JvA4ShXQ&callback=init_map"></script>
<!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7KCLJm9Bn8VjkV64WxvZ0nO2JvA4ShXQ&callback=init_map"></script> -->


<!-- Plugin JavaScript -->
    <script src="{{ "js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/landing-page.js"></script>
